.header {
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    position: relative;
    border: 1.5px solid #bec0c4;
    border-radius: 12px;

}

.image {
    width: 260px;
    height: 140px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 24px;
    background: #f5f5f5;
    flex-shrink: 0;
    border: 1.5px solid #bec0c4;

}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
    padding-left: 16px;

}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    min-width: 70px;

    border-left: 1px solid #bec0c4;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 16px 0;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
}

.actionBtn {
    background: transparent;

    border: none;
    font-size: 1.3rem;
    transition: color 0.2s, background 0.2s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.actionBtn:hover {
    color: #fa8c16;
    background: #23242a;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    margin-bottom: 4px;
}

.time {
    color: #fa8c16;
    font-weight: 500;
    margin-bottom: 4px;
}

.location {
    color: #5c5c5c;
    font-size: 1rem;
    margin-bottom: 8px;
}

.custom-segmented .ant-segmented-item-selected {
    background: #ff9800 !important;
    /* Cam */
    color: #fff !important;
    font-weight: 600;
    transition: background 0.2s;
}